<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}SmartShop
			{% endblock %}
		</title>
		<link rel="icon" href="{{ asset('images/logo.png') }}">
		{{ encore_entry_link_tags('app') }}

		{% block stylesheets %}{% endblock %}
	</head>
	<body>

		{% if app.request.attributes.get('_route') not in ['app_login', 'app_register'] %}
			<header class="app-header">
				<div class="logo">
					<a href="{{ path('app_grupos') }}">
						<img src="{{ asset('images/logo.png') }}" alt="Logo SmartShop" class="logo-img">
					</a>
				</div>
				<div class="header-buttons">
					<a href="#">
						<img src="{{ asset('images/usuario.png') }}" alt="Perfil" class="icon">
					</a>
					<a href="{{ path('app_logout') }}">
						<img src="{{ asset('images/logout.png') }}" alt="Cerrar sesión" class="icon">
					</a>
				</div>
			</header>
		{% endif %}

		<div
			style="padding-top: 70px;">
			<!-- Espacio para que no se solape la cabecera -->
			{% block body %}{% endblock %}
		</div>

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</body>
</html>
